header{
    background-color: #9AD0EC;
}

.content{
    background-color: #EFDAD7;
}

.stats{
    background-color: #EFDAD7;
}

#about{
    background-color: #EFDAD7;
}

#feedback{
    background-color: #EFDAD7;
}

footer{
    background-color: #9AD0EC;
}